@import "frappe.css";

/* Main styles */

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
}

/* Window module */

#window {
  margin-left: 1rem;
}

/* Workspaces module https://man.archlinux.org/man/waybar-hyprland-workspaces.5.en#Style */

#workspaces {
  border-radius: 1rem;
  margin: 5px 0;
  background-color: @surface0;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}

#workspaces button.active {
  color: @maroon;
  background-color: @surface0;
}

#workspaces button:hover:not(.active) {
  color: @sapphire;
}

#workspaces button.empty {}
#workspaces button.visible {}
#workspaces button.persistent {}
#workspaces button.special {}
#workspaces button.urgent {}
#workspaces button.hosting-monitor {}

/* Custom module (Arch logo) https://man.archlinux.org/man/waybar-custom.5.en#STYLE */

#custom-logo {
  color: @blue;
  margin-left: 1rem;
}

#custom-logo:hover {
  color: @red;
}

#tray, #wireplumber {
  padding: 0.2rem 0.5rem;
  margin: 5px 0;
}

/* Clock module https://man.archlinux.org/man/waybar-clock.5.en#STYLE */

#clock {
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
}

/* Tray module https://man.archlinux.org/man/waybar-tray.5.en#STYLE */

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#tray > .passive {}
#tray > .active {}
#tray > .need-attention {}

/* Wireplumber module https://man.archlinux.org/man/waybar-wireplumber.5.en#STYLE */

#wireplumber {
  color: @maroon;
  /* border-radius: 1rem 0px 0px 1rem; */
  margin-left: 1rem;
}

#wireplumber.muted {}
